/*  */
body {
   background-color: #ffe4e1;
   /* font-family: 'Roboto', sans-serif; */

   font-family: 'Helvetica' sans-serif;
}

section {
   padding-bottom: 20px;
}

.container {
   width: 1230px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

   outline: 1px solid teal;
}

.head-wrap {
   margin-left: auto;
   margin-right: auto;
   /* padding-top: 10px;
    margin-bottom: 10px; */
}
/* ==== HEADER ============== */
.main-head {
   padding-top: 20px;
   padding-bottom: 20px;
}

.main-head__wrapper {
   display: flex;
   /* justify-content: space-between; */
   align-items: center;
   width: 95%;
   /* height: 210px; */

   margin: auto;

   /* width: 95%; */
   margin-left: auto;
   margin-right: auto;
   background-color: #cccccc;

   background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20231231/pngtree-close-up-of-knitted-wool-texture-white-natural-material-with-crochet-image_13870091.png);

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   border-radius: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}

.main-head__bg {
   width: 100%;

   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 20px;
}

.hero-title {
   /* font-family: LeoHand; */
   font-size: 48px;
   font-weight: 700;
   text-align: center;
   line-height: 200px;
}

/* ===== NAV ===== */
nav {
   padding-bottom: 20px;
}

.nav-container {
   background-color: #bc8f8f;
   border: 1px solid #4682b4;
}

.nav-list {
   display: flex;
   justify-content: space-evenly;
}

.nav-list__link {
   display: block;
   min-width: 100px;
   padding-left: 10px;
   padding-right: 10px;

   text-align: center;
   font-size: 18px;
   line-height: 70px;
   color: #ffffff;

   border-radius: 50%;

   /* outline: 1px solid green; */
   transition: all 5500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-list__link:hover {
   color: #c71585;
   background-color: #d8bfd8;
}

/* ===== MAIN ===== */
.text-content__txt {
   margin-bottom: 10px;
   outline: 1px solid red;

   font-size: 20px;
   line-height: 1.3;
}
